{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" href="{% static 'css/clients.css' %}">

<section id="contact container">
    <div class='header_wrapper mb-4'>
        <h1 class="section-header">Clients</h1>
    </div>
    <div class='wr d-flex justify-content-center'>
        <div class="grid ">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
          </div>
    </div>
</section>

{% endblock content %}