{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% load cache %}

{% cache 500 content %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/work.css' %}">




<div class="grid-wrapper container mt-4" style='margin: 70px auto'>
    {% if v|length > 0 %}
        {% for item in v %}
            {% video item.video as my_video %}
                <a class='{% if forloop.counter|divisibleby:4s %}wide{% else %}big{% endif %}' hef="{% url 'base:video-details' item.id %}">
                    {{ item.title }} <br>
                    <img src="{{ my_video.thumbnail }}"  class="">
                </a>
                <br>
                {% comment %} {% video my_video 'tiny' %} {% endcomment %}
            {% endvideo %}
        {% endfor %}   
    {% endif %}
</div>

{% endblock %}
{% endcache %}