{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- =============== Bootstrap Core CSS =============== -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
    <!-- =============== fonts awesome =============== -->
    <link rel="stylesheet" href="{% static 'assets/font/css/font-awesome.min.css' %}" type="text/css">
    <!-- =============== Plugin CSS =============== -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" type="text/css">
    <!-- =============== Custom CSS =============== -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
    <!-- =============== Owl Carousel Assets =============== -->
    <link href="{% static 'assets/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'assets/owl-carousel/owl.theme.css' %}" rel="stylesheet">
	
	<link rel="stylesheet" href="{% static 'assets/css/isotope-docs.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'assets/css/baguetteBox.css' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

</head>

 <!-- =============== Preloader =============== -->
 <div id="preloader">
    <div id="loading">
    <img width="256" height="32" src="{% static 'assets/img/loading-cylon-red.svg' %}">	
    </div>
</div>

<body class=''>   

    {% block top_nav %}
        {% include 'includes/top-nav.html' %}
    {% endblock %}

    {% block content %}
    
    {% endblock content %}


    {% block footer %}
        {% include 'includes/footer.html' %}
    {% endblock %}
        
	<!-- =============== jQuery =============== -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>
	 <script src="{% static 'assets/js/isotope-docs.min.js' %}"></script>
    <!-- =============== Bootstrap Core JavaScript =============== -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- =============== Plugin JavaScript =============== -->
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.fittext.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script> 
	<!-- =============== owl carousel =============== -->
    <script src="{% static 'assets/owl-carousel/owl.carousel.js' %}"></script>  
	<!-- Isotope does NOT require jQuery. But it does make things easier -->

<script src="{% static 'assets/js/baguetteBox.js' %}" async></script>
<script src="{% static 'assets/js/plugins.js' %}" async></script>
 
    <!-- =============== Custom Theme JavaScript =============== -->
    <script src="{% static 'assets/js/creative.js' %}">	</script> 
<script src="{% static 'assets/js/jquery.nicescroll.min.js' %}"></script>

<script>
  $(document).ready(function() {
  
	var nice = $("html").niceScroll();  // The document page (body)
	
	$("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#00F",boxzoom:true}); // First scrollable DIV

    $("#boxscroll2").niceScroll("#contentscroll2",{cursorcolor:"#F00",cursoropacitymax:0.7,boxzoom:true,touchbehavior:true});  // Second scrollable DIV
    $("#boxframe").niceScroll("#boxscroll3",{cursorcolor:"#0F0",cursoropacitymax:0.7,boxzoom:true,touchbehavior:true});  // This is an IFrame (iPad compatible)
	
    $("#boxscroll4").niceScroll("#boxscroll4 .wrapper",{boxzoom:true});  // hw acceleration enabled when using wrapper
    
  });
</script>
<script>
window.onload = function() {
    if(typeof oldIE === 'undefined' && Object.keys)
        hljs.initHighlighting();

    baguetteBox.run('.baguetteBoxOne');
    baguetteBox.run('.baguetteBoxTwo');
    baguetteBox.run('.baguetteBoxThree', {
        animation: 'fadeIn'
    });
    baguetteBox.run('.baguetteBoxFour', {
        buttons: false
    });
    baguetteBox.run('.baguetteBoxFive', {
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
        }
    });
};
</script>
</body>
</html>