<header id="home" class="header">
  <!-- =============== container =============== -->
      <div class="container">
      <div class="header-content row">   

      <div id="owl-demo" class="owl-carousel header1">
        <div>
        <div class="col-xs-12 col-sm-6 col-md-6 header-text">
          <h2 class="wow bounceIn animated" data-wow-delay=".20s">PHOTOGRAPHY <br> <span>TO THE</span> NEXT LEVEL</h2>
          <h3 class="wow bounceIn animated" data-wow-delay=".30s">FOR YOU CREATION </h3>
          <p class="wow bounceIn animated" data-wow-delay=".40s">Lorem ipsum dolor sit amet, consectetur adipiscing elit.We ensure sit amet, consectetur adipiscing elit</p>
          <p>
              <a href='{% url "base:works" %}' class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s"><i class="hbtn"></i> <span>Click Here</span></i>
              </a>
          </p>
        </div>               
      </div>
       <div>
        <div class="col-xs-12 col-sm-6 col-md-6 header-text">
          <h2 class="wow bounceIn animated" data-wow-delay=".40s">VIDEO  <br> <span>TO THE</span> NEXT LEVEL</h2>
          <h3 class="wow bounceIn animated" data-wow-delay=".50s">FOR YOU CREATION </h3>
          <p class="wow bounceIn animated" data-wow-delay=".60s">Lorem ipsum dolor sit amet, consectetur adipiscing elit.We ensure sit amet, consectetur adipiscing elit</p>
          <p>
              <a href='{% url "base:videos" %}' class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s"><i class="hbtn"></i> <span>Click Here</span></i>
              </a>
          </p>
        </div>               
      </div>
      </div>				 
      </div>


              
      </div>
  <!-- =============== container end =============== -->
  </header>